:root {
    --theme-colour: #dfcb8d;
    --theme-colour-darker: #dfcb8d;
    --text-colour: #000;
}

body,
button,
html,
input {
    font: normal 1em/1.2 DIN, sans-serif;
    color: var(--text-colour)
}

canvas {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 1rem);
    z-index: -1;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

 /* .page-2 {
    margin-top: -7%;
}  */

.page4-amend {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.page4-amend div{
    text-align: center;
}

body,
html {
    width: 100%;
    padding: 0;
    margin: 0;
    background: #fff;
    overflow-x: hidden;
}

#hid {
    text-align: center;
    /* display: none; */
}
#hid span{
    padding: 0.6rem;
}

#b1,
#b2,
#b3 {
    font-weight: 600;
    padding: 6px;
}

#app {
    min-height:100vh;
 
    position: relative;
    display: grid;
    grid-template-rows: auto 1fr
}

a {
    color: var(--theme-colour);
    text-decoration: none
}

a:hover {
    color: inherit
}

h1{
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    transition: opacity 0.5s ease 0.5s;
    opacity: 1;
position:absolute;
/* padding-bottom: 10px; */
}

h2 {
    font-size: 1.5rem;
    line-height: 1;
    margin: 0;
    transition: opacity 0.5s ease 0.5s;
    opacity: 1;
    margin-bottom: 1rem
}

header {
    display: grid;
    background: #fff;
    padding: 0 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto 1.5rem;
    box-sizing: border-box
}

@media all and (min-height:600px) {
    header {
        position: sticky;
        z-index: 20;
        top: 0
    }
}

header::after {
    content: "";
    display: block;
    border-bottom: 2px dotted #ccc
}

main {
    position: relative;
    width: 100% !important;
    max-width: 1280px !important; 
    box-sizing: border-box;
    margin: 0 auto;
    padding-bottom: 6rem;

}
main::-webkit-scrollbar {
    display: none;
  }

section {
    padding: 0 1rem;
    width: 100% !important;
    box-sizing: border-box;
    position: relative;
    z-index: 2;
    opacity: 0;
    transition: opacity 0.5s ease 5s;
    opacity: 1;
    /* overflow-y: auto; */
    }

.show-part {
    display: block;
    opacity:1;
}

.cust-i span,
input {
    background: rgba(255, 255, 255, .7);
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    padding: .25em .5em;
    text-align: right;
    border-radius: 0;
    margin: 0
}

.new_prices,
.loans,
.profits {

    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
}

.cust-i-rd {
    border-color: transparent;

}

input:focus {
    border-color: #000;
    outline: 0
}

.cust-i~input,
input~span {
    margin-left: .5em
}

.cust-i {
    display: inline-block
}


.cust-i span {
    display: block

} 

.cust-i input {
    display: none
}

em {
    font-style: normal;
    color: #dfcb8d;
}

.hline {
    height: 1px;
    background-color: var(--theme-colour);
    margin: 1rem 0
}

.btn-bar,
.dis__btnbar {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
    column-gap: 2rem
}
#dis {
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    z-index: 100;
    background-color: rgba(0,0,0,.75);
    display: flex;
    justify-content: center;
    align-items: center;
}

.discp {
    background-color: #fff;
    padding: 3em 2em;
    width: calc(100% - 4em);
    max-width: 80ch;
    border-radius: 0.5em;
    border: 1px solid #ccc;
    box-sizing: border-box;
    overflow-y: auto;
    max-height: 90vh;

}

.discp h1{
    position: relative;
}
p {
    /* padding-top: 10px; */
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.btn {
    border: 0;
    background-color: var(--theme-colour);
    color: #fff;
    padding: .5em 2em;
    font-size: 1rem;
    border-radius: .5em;
    cursor: pointer
}

.btn--compact {
    padding: .5em 1em
}

.btn:hover {
    background-color: var(--theme-colour-darker)
}

.btn:not(.btn--plain):focus {
    outline: 0;
    box-shadow: #2e2e2e 0 0 0 4px
}

.btn:active {
    background-color: #000
}

.btn--plain {
    background: 0 0;
    color: var(--text-colour);
    padding: 0
}

.btn--plain:hover {
    background: 0 0;
    color: var(--theme-colour)
}

.product {
    display: block;
    font-size: 3rem;
    letter-spacing: .0625em;
    font-weight: 700;
    text-transform: uppercase;
    padding: 2rem 0;
    color: #43474c
}

.product em {
    font-weight: 700
}

.product::after {
    content: "";
    display: block;
    width: 2ch;
    height: 2px;
    background-color: var(--theme-colour)
}

.brand {
    display: block;
    padding: 1rem 0;
    align-self: center
}

.brand img {
    width: auto;
    height: 100px;
    vertical-align: top
}


.grid {
    display: grid;
    grid-template-rows: 1fr auto
}

.btxt {
    font-size: 1.5rem;
    font-weight: 700
}

.huge {
    font-size: 1.8rem;
    font-weight: 700
}

.sinp {
    width: 3em
}

.wide {
    width: 6em
}

.inwu {
    display: grid;
    grid-template-columns: 5rem max-content;
    align-items: center
}

.arw svg {
    width: auto;
    height: .625em
}

.arw svg path {
    stroke: currentColor
}

.arw-flp svg {
    transform: scale(-1, 1)
}

.wrp-b {
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 30;
    background-color: #fff;
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    align-items: center
}

.pbtns {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1em;
    border-top: 2px dotted #ccc;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    box-sizing: border-box;
    grid-column: 2
}

.pn-links {
    justify-self: flex-end;
    justify-self: end;
    padding: 1em 4em;
    display: flex
}

.pn-links span {
    color: var(--theme-colour);
    cursor: pointer
}

.pn-links span:hover {
    color: inherit
}

.pn-links a,
.pn-links span {
    margin-left: 1em
}

.pbtn {
    color: #aaa;
    cursor: default;
    text-transform: uppercase;
    border: 0;
    background: 0 0;
    padding: 0;
    margin: 0 1.5rem;
    font-size: 1rem
}

.pbtn:focus {
    outline: 0
}

.pbtn--active {
    cursor: pointer;
    color: #dfcb8d;
}

.pbtn--active:hover {
    color: #000
}

.ind {
    border: 0;
    background: #aaa;
    border-radius: 50%;
    font-size: .75em;
    width: 1em;
    height: 1em;
    cursor: pointer;
    padding: 0;
    margin: 0
}

.ind+.ind {
    margin-left: .75em
}

.ind--active,
.ind:hover {
    background-color: #dfcb8d;
}

.pbtns .arw svg {
    height: .75em
}

.flex {
    display: flex
}

.grid {
    display: grid
}

.grid-cols-2 {
    grid-template-columns: 1fr 1fr
}

.rel {
    position: relative
}

.txtr {
    text-align: right
}

.text-center {
    text-align: center
}

/* .col-span-full {
    grid-columns: 1/-1
} */

.mt-4 {
    margin-top: 1rem
}

.mt-8 {
    margin-top: 2rem
}

@media all and (max-width:799px) {
    .wrp-b {
        display: block
    }

    .pn-links {
        justify-content: center;
        padding-top: 0
    }
}

@media all and (max-width:639px) {

    h1,
    h2 {
        font-size: 1.25rem
    }

    .brand {
        font-size: 1.5rem
    }

    .btxt {
        font-size: 1rem
    }

    .huge {
        font-size: 1.5rem
    }

    .brand,
    .product {
        justify-self: center
    }

    .brand {
        grid-row: 1
    }

    .product {
        grid-row: 2
    }
}

@media all and (min-width:640px) {
    header {
        grid-template-columns: 1fr 1fr
    }

    header::after {
        grid-column: 1/span 2
    }

    .brand {
        text-align: right
    }
}

.page-1  {
    display: grid;
    grid-template-rows: 1.5rem 1fr;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 3;
    min-width: 90vw !important;
 }
 
.page-2  {
    display: grid;
    grid-template-rows: 45rem 1fr;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 2;
  /* margin-top: -5vh;  */
 }
 
.p1grid {
    grid-row: 2/span 1;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    padding: 0 1rem 1rem;
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
    position: relative;
    box-sizing: border-box;
    min-height: 500px
}
@media all and (min-width:2200px) {

    
.page-2  {
 
  margin-top: -70vh; 
 }
 .page-4  {
 
    margin-top: -70vh !important; 
   }

}
@media all and (min-width:960px) {

    .page-1 {
        position: absolute
    }

    .p1grid {
        margin-bottom: 6rem
    }

    .page-4 {
        min-width: 100%;
    }

}


@media all and (min-height:700px) and (max-width:1000px) {

    .page-4{
        margin-top: 0% !important;
    }

}


@media all and (max-height:1200px) {

    .page-4{
         margin-bottom: 20vh !important;
         overflow: hidden !important;

    }}


.p1grid::after {
    content: "";
    position: absolute;
    right: -4rem;
    top: 0;
    bottom: 0;
    z-index: 1;
    transition: border-color .5s ease;
    border-right: 1px solid transparent
}

.p1-moved .p1grid::after {
    border-color: #000
}

.p1bg {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: calc(100% - 1rem);
    z-index: -1
}

.p1dur label,
.p1price label {
    display: block
}

.p1price {
    grid-column: 1/span 2;
    grid-row: 2/span 1;
    align-self: center;
    position: relative
}

.p1dur {
    grid-column: 4/span 2;
    grid-row: 2/span 1;
    align-self: center
}

.p1app {
    grid-column: 3/span 2;
    grid-row: 1/span 1;
    align-self: flex-end
}

.p1amort .btxt+span,
.p1app .btxt+span {
    margin-top: .5em;
    display: inline-block;
}


.p1amort {
    grid-column: 3/span 2;
    grid-row: 3/span 1;
    align-self: flex-start
}

.p1gain {
    color: var(--theme-colour);
    grid-column: 6/span 1;
    grid-row: 2/span 1;
    align-self: center;
    text-align: right;
    /* word-spacing: 60px; */

}
.p1gain , .p1rmn , .p1value{
    letter-spacing: 0.8px;

}

.p1value {
    grid-column: 6/span 1;
    grid-row: 1/span 1;
    align-self: center;
    text-align: right
}

.p1rmn {
    grid-column: 6/span 1;
    grid-row: 3/span 1;
    align-self: center;
    text-align: right
}

.p1-fade {
    transition: opacity .5s ease
}

.p1dur label {
    margin-top: .25rem;
    margin-bottom: .25rem
}

.payoff-duration-button {
    font-size: .875rem;
    padding: .25em .5em
}

.page-1 .price-g {
    position: relative
}

.page-1 .capital-g {
    position: relative;
    margin-top: 2rem
}

@media all and (max-width:639px) {
    .p1price {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem
    }

    .page-1 .capital-g {
        margin-top: 0
    }

    .page-1 {
        max-width: 70%;
        
    }
  

    .page-2 div {
        width: 80%;
    }

    .page-2 input {
        width: 3.2em;
    }
    .page-2 span {
       /* width: 2px; */
       margin-left: -6px;
    }
    .inp2 {
        margin-left: -0.8em
    }
    #sst{
        display: none;
    }

    .btn-bar {
        display: flex;
        flex-direction: column;
        max-width: 165px;

    }

    .btn-bar button {
        margin: 0.5rem;
    }


    .p2-total,
    .p2-sum {
        text-align: left !important;
        padding: 0.2rem;

    }

    .page-4 {
        margin-top: 0% !important;
        min-width: 530px !important;
    }

    .page4-amend {

        text-align: center;
    }

    .huge {
        font-size: 1.3rem;
        font-weight: 700
    }

    .piggy__text {

        font-size: 1.3rem !important;
        

    }

    .p4-right {
        min-width: 200px;
        margin-top: 0;
        padding: 0;
    }

    header {
        max-width: 80%;
        padding: 0;
        margin: 0.5rem;
    }

    .product {
        display: block;
        font-size: 2.2rem;
        letter-spacing: 0;
        margin-right: 210px !important;
        font-weight: 700;
        text-transform: uppercase;
        padding: 2rem 0;
        color: #43474c
    }
}

.slide-Anim {
    transition: all 0.4s;
    transform: translate(-60%, 0px);
    min-width: 30vw !important;

}
.slide-Anim{
    min-height: 720px;
   
}
.last-part-pages{
    min-height: 70vh;
    transition: all 0s;
}
.slide-Anim canvas {
    width: 1500px;
    transition: all 0.4s;
    margin-left: -15rem;
    
}

.pmain.show {
    -webkit-animation: in 700ms ease both;
    animation: in 700ms ease both;
}

.Anim-part2 {

    transition: all 0.4s;
    transform: translate(0%, 0px);
}

#canvas123 {
    margin-left: 55%;
}


@media all and (min-width:640px) {
    .p1price label {
        position: absolute;
        left: 0;
        bottom: 100%;
        z-index: 1
    }
    label{
        font-size: 1rem;
    }

    .p1dur {
        margin-top: .75rem
    }

    .p1dur label {
        margin-top: 1rem
    }
}

@media all and (min-width:800px) {
    .duration-g {
        display: flex;
        align-items: center
    }

    .payoff-duration-button {
        margin-left: 1rem;
        margin-bottom: .5rem
    }

    .p1dur {
        margin-top: 0
    }

    .p1dur label {
        margin-bottom: 1.5rem
    }
}

@media all and (min-width:960px) {
    .p1amort {
        margin-top: 1rem
    }
}

@media all and (max-width:959px) {
    .nnn {
        display: none;
    }

    .page-1 h1 {
        text-align: center;
        margin-bottom: 2rem
    }

    .p1grid {
        grid-template-columns: repeat(3, 1fr)
    }

    .p1grid::after {
        display: none
    }

    .p1price {
        grid-column: 1/span 1
    }

    .p1dur {
        grid-column: 2/span 1;
        grid-row: 2/span 1;
        align-self: center;
        justify-self: flex-end
    }

    .p1app {
        grid-column: 2/span 1;
        grid-row: 1/span 1;
        align-self: flex-end
    }

    .p1amort {
        grid-column: 2/span 1;
        grid-row: 3/span 1;
        align-self: flex-start
    }

    .p1amort span+span,
    .p1app span+span {
        display: block;
        margin: 0
    }

    .p1gain {
        color: var(--theme-colour);
        grid-column: 3/span 1;
        grid-row: 2/span 1;
        align-self: center;
        text-align: right
    }

    .p1value {
        grid-column: 3/span 1;
        grid-row: 1/span 1;
        align-self: flex-end;
        text-align: right
    }

    .p1rmn {
        grid-column: 3/span 1;
        grid-row: 3/span 1;
        align-self: flex-start;
        text-align: right
    }
}

@media all and (max-width:639px) {
    .p1grid {
        grid-template-columns: repeat(6, 1fr);
        padding-top: 1rem;
        padding-bottom: 0
    }

    .p1price {
        grid-column: 1/span 6;
        grid-row: 1;
        justify-self: center
    }

    .p1app {
        grid-column: 1/span 3;
        grid-row: 2;
        justify-self: self-start;
        align-self: flex-start
    }

    .p1amort {
        grid-column: 4/span 3;
        grid-row: 2;
        justify-self: self-end;
        align-self: flex-start
    }

    .p1dur {
        grid-column: 1/span 6;
        grid-row: 3;
        justify-self: center
    }

    .p1dur .cust-i+span {
        margin-left: 1em;
        margin-right: 1.75em
    }

    .p1value {
        grid-column: 1/span 2;
        grid-row: 4;
        justify-self: self-start
    }

    .p1rmn {
        grid-column: 5/span 2;
        grid-row: 4;
        justify-self: self-end
    }

    .p1gain {
        grid-column: 3/span 2;
        grid-row: 4;
        justify-self: center
    }
}


.page-2 {
    display: grid;
    grid-template-columns: 6fr 4fr;
     margin-left: 190px;
    /* margin-top: -10vh; */
    top:0 !important;
    
}

.p2-right {
    align-self: center;
    display: inline-block;
 
}

/* .inp2 input{
    max-width: 100% !important;
} */
.inp2 {
    display: grid;
    grid-template-columns: 8em 6em 1fr;
    gap: 1em
}

.inp2+.inp2 {
    margin-top: .50em
}

.inp2 label {
    text-align: right
}

/* .inp2 .cust-i,
.inp2 input {
    min-width: 1em;
    max-width: 100%;
    box-sizing: border-box;
} */
.page-2_input input {
    width: 30% !important;

}

.page-2_input {
    width: 40%;
    margin-left: 100%;
}


.p2-sum {
    font-weight: 700;
    border-top: 1px solid var(--theme-colour);
    margin-top: 1rem;
    padding-top: 1rem;
    text-align: center
}

.p2-sum--large {
    font-size: 1.5rem
}

.p2-total {
    font-weight: 700;
    text-align: center;
    margin-top: 1.5rem
}

.p2-total em {
    display: block
}
#nextBtn{
    display: flex;
    text-align: center;
}
.p2-rent-increase {
    margin-top: .5rem;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* gap-x: 1rem;
    gap-y: .5rem; */
    justify-content: center;
    text-align: center
}

@media all and (max-width:959px) {
    .page-2 {
        display: block;
        opacity:1
        
    }

    .page-2 h1 {
        text-align: center;
        /* margin-bottom: 1rem */
    }


}



@media all and (max-width:959px) {

    .page-4 {
        padding-bottom: 250px; 
        min-width: 800px;
    }

 
}


.page-4 {
    display: grid;
    grid-template-columns: 6fr 4fr;
    /* margin-top: -60px; */
    min-width: 55vw !important;
    min-height: 100px;
    top: 0;

}

.p4-right {
       align-self: center;
        min-width: 200px;
        margin-top: 0;
        padding: 0;
    
}

.p4-piggybank {
    max-width: 100%;

}

.piggy__grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-bottom: 1.5rem
}


.piggy__text {
    position: absolute;
    right: 44%;
    bottom: 28%;
    z-index: 2;
    font-size: 2rem;
    font-weight: 700;
    color: #dfcb8d;
}

.txt_lab {
    position: absolute;
    right: 0;
    bottom: 0;
    z-index: 2;
    font-size: 1.5rem;
    font-weight: 700
}

.sl_lab {
    text-align: center;
    font-size: 1.25rem;
    line-height: 1
}

.class1{
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 70px;

}
.sl_lab em {
    font-weight: 700;
    font-size: 1.5rem;
    color: inherit
}

input[type=range] {
    appearance: none;
    margin: 15px 0;
    width: 100%;
}

input[type=range]:focus {
    outline: none !important;
}

input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b1bbc2;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 15px;
    width: 15px;
    border-radius: 7px;
    background: #dfcb8d;
    cursor: pointer;
    appearance: none;
    margin-top: -3.6px;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #b1bbc2;
}

input[type=range]::-moz-range-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    /* animate: 0.2s; */
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    background: #b1bbc2;
    border-radius: 25px;
    border: 0px solid #000101;
}

input[type=range]::-moz-range-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 3px;
    width: 39px;
    border-radius: 7px;
    background: #b1bbc2;
    cursor: pointer;
}

input[type=range]::-ms-track {
    width: 100%;
    height: 2px;
    cursor: pointer;
    /* animate: 0.2s; */
    background: transparent;
    border-color: transparent;
    border-width: 39px 0;
    color: transparent;
}

input[type=range]::-ms-fill-lower {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-fill-upper {
    background: #ac51b5;
    border: 0px solid #000101;
    border-radius: 50px;
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
}

input[type=range]::-ms-thumb {
    box-shadow: 0px 0px 0px #000000, 0px 0px 0px #0d0d0d;
    border: 0px solid #000000;
    height: 3px;
    width: 39px;
    border-radius: 7px;
    background: var(--theme-colour);
    cursor: pointer;
}

input[type=range]:focus::-ms-fill-lower {
    background: var(--theme-colour);
}

input[type=range]:focus::-ms-fill-upper {
    background: var(--theme-colour);

}

input[type=range] {
    border: 0;
    outline: 0;

}

input[type=range]::-webkit-slider-thumb:hover {

    box-shadow: 0px 0px 0px 8px rgb(63 81 181 / 16%);

}
